<div class="container mx-auto p-4">
  <h1 class="text-4xl font-bold mb-6">Manage Books</h1>
  <div class="mb-4">
    <%= link_to 'New Book', new_admin_book_path, class: "inline-block px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700" %>
  </div>
  <table class="min-w-full bg-white border border-gray-200">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="text-left py-3 px-4">ID</th>
        <th class="text-left py-3 px-4">Title</th>
        <th class="text-left py-3 px-4">Description</th>
        <th class="text-left py-3 px-4">Price</th>
        <th class="text-left py-3 px-4">Category</th>
        <th class="text-left py-3 px-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr class="border-t border-gray-200">
          <td class="text-left py-3 px-4"><%= book.id %></td>
          <td class="text-left py-3 px-4"><%= book.name %></td>
          <td class="text-left py-3 px-4"><%= truncate(book.description, length: 50) %></td>
          <td class="text-left py-3 px-4"><%= number_to_currency(book.price) %></td>
          <td class="text-left py-3 px-4"><%= book.category.name %></td>
          <td class="text-left py-3 px-4">
            <%= link_to 'Edit', edit_admin_book_path(book.slug), class: "text-blue-500 hover:underline" %> |
            <%= link_to 'Delete', admin_book_path(book.slug), method: :delete, data: { "turbo-method": :delete }, class: "text-red-500 hover:underline" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
