<h1>Welcome, <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
<p>Email: <%= current_user.email %></p>
<p>Phone: <%= current_user.phone_number %></p>
<p>Address: <%= current_user.address %></p>

<%= link_to 'Edit', edit_user_path(current_user) %>

