<div class="container mx-auto p-6 space-y-12">
  <% if @promotions.any? %>
  <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <% @promotions.each do |promotion| %>
          <div class="swiper-slide text-center">
            <h2 class="text-2xl font-bold"><%= promotion.title %></h2>
            <p><%= promotion.description %></p>
            <% if promotion.image.attached? %>
              <%= image_tag promotion.image, class: "w-full h-auto object-cover" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-scrollbar"></div>
    </div>
    <% else %>
      <p class="text-center text-gray-600">No active promotions at the moment.</p>
  <% end %>

  <section class="bestsellers mt-8">
    <h2 class="text-3xl font-bold mb-4 text-center">Bestsellers</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <% @bestsellers.each do |book| %>
        <div class="bg-white rounded-lg border border-gray-200 p-6 shadow-sm">
          <%= link_to book_path(book.slug), class: "block text-gray-800" do %>
            <% if book.image.attached? %>
              <div class="mb-4">
                <%= image_tag book.image, class: "w-full h-auto rounded-lg" %>
              </div>
            <% end %>
            <h2 class="text-xl font-semibold text-gray-800 mb-2"><%= book.name %></h2>
            <p class="text-gray-600 mb-2"><strong>Price:</strong> <%= number_to_currency(book.price) %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

  <section class="recommended mt-8">
    <h2 class="text-3xl font-bold mb-4 text-center">Recommended</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <% @recommended.each do |book| %>
        <div class="bg-white rounded-lg border border-gray-200 p-6 shadow-sm">
          <%= link_to book_path(book.slug), class: "block text-gray-800" do %>
            <% if book.image.attached? %>
              <div class="mb-4">
                <%= image_tag book.image, class: "w-full h-auto rounded-lg" %>
              </div>
            <% end %>
            <h2 class="text-xl font-semibold text-gray-800 mb-2"><%= book.name %></h2>
            <p class="text-gray-600 mb-2"><strong>Price:</strong> <%= number_to_currency(book.price) %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

</div>

<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,

        pagination: {
            el: '.swiper-pagination',
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        scrollbar: {
            el: '.swiper-scrollbar',
        },

    });
</script>
