<h1 class="text-4xl font-bold mb-6 text-center">Your Cart</h1>

<div class="flex flex-col bg-white p-6">
  <% if @cart.books.any? %>
    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="py-2">Book</th>
          <th class="py-2">Price</th>
          <th class="py-2">Quantity</th>
          <th class="py-2">Total</th>
          <th class="py-2">Actions</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @cart.cart_items.each do |item| %>
          <tr>
            <td class="py-2"><%= item.book.name %></td>
            <td class="py-2"><%= number_to_currency(item.book.price) %></td>
            <td class="py-2"><%= item.quantity %></td>
            <td class="py-2"><%= number_to_currency(item.book.price * item.quantity) %></td>
            <td class="py-2">
              <%= button_to 'Remove', remove_from_cart_cart_path(book_id: item.book.id), method: :post, class: "bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="mt-6 text-right">
      <strong>Total:</strong> <%= number_to_currency(@cart.total_price) %>
    </div>
    <div class="mt-6 text-right">
      <%= link_to 'Checkout', checkout_path, class: "bg-green-500 text-white px-4 py-2 rounded-full hover:bg-green-600" %>
    </div>
  <% else %>
    <p class="text-center">Your cart is empty.</p>
  <% end %>
</div>
