<div class="container mx-auto p-4">
  <h1 class="text-4xl font-bold mb-6">Edit User</h1>
  
  <%= form_with(model: [:admin, @user], local: true) do |form| %>
    <div class="mb-4">
      <%= form.label :email, class: "block text-gray-700" %>
      <%= form.email_field :email, class: "form-input mt-1 block w-full" %>
    </div>

    <div class="mb-4">
      <%= form.label :password, class: "block text-gray-700" %>
      <%= form.password_field :password, class: "form-input mt-1 block w-full" %>
    </div>

    <div class="mb-4">
      <%= form.label :password_confirmation, class: "block text-gray-700" %>
      <%= form.password_field :password_confirmation, class: "form-input mt-1 block w-full" %>
    </div>

    <div class="mb-4">
      <%= form.label :admin, class: "block text-gray-700" %>
      <%= form.check_box :admin, class: "form-checkbox" %>
      <span class="ml-2 text-gray-700">Admin</span>
    </div>

    <div class="mt-6">
      <%= form.submit "Update User", class: "px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700" %>
    </div>
  <% end %>
</div>
