<div class="container mx-auto p-4">
  <h1 class="text-4xl font-bold mb-6">Manage Users</h1>
  <table class="min-w-full bg-white">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="text-left py-3 px-4">ID</th>
        <th class="text-left py-3 px-4">Email</th>
        <th class="text-left py-3 px-4">Role</th>
        <th class="text-left py-3 px-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="text-left py-3 px-4"><%= user.id %></td>
          <td class="text-left py-3 px-4"><%= user.email %></td>
          <td class="text-left py-3 px-4"><%= user.admin? ? "Admin" : "User" %></td>
          <td class="text-left py-3 px-4">
            <%= link_to 'Edit', edit_admin_user_path(user), class: "text-blue-500" %> |
            <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { "turbo-method": :delete }, class: "text-red-500" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
