<!DOCTYPE html>
<html lang="en">
<head>
  <title>OnlineShop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "home_slider", defer: true %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body>
<header class="bg-gray-800 text-white py-4 px-6">
  <nav class="flex justify-between items-center">
    <div class="flex space-x-4">
      <%= link_to 'Home', root_path, class: "hover:underline text-white" %>
      <%#= link_to 'Blog', blog_path, class: "hover:underline text-white" %>
    </div>
    <div class="flex space-x-4">
      <% if user_signed_in? %>
        <%= link_to 'Profile', edit_user_registration_path, class: "hover:underline text-white" %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "hover:underline text-white" %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: "hover:underline text-white" %>
      <% end %>
    </div>
  </nav>
</header>

<div class="flex container mx-auto mt-5 px-4 flex-col md:flex-row">
  <aside class="w-full md:w-1/4 p-4 mr-0 md:mr-6 mb-4 md:mb-0">
    <h2 class="text-lg font-semibold mb-4">Categories</h2>
    <ul class="text-left">
      <% Category.all.each do |category| %>
        <li class="mb-2">
          <%= link_to category.name, category_path(category.slug), class: "hover:underline" %>
        </li>
      <% end %>
    </ul>
  </aside>

  <main class="flex-grow p-6 bg-white rounded-lg shadow-md">
    <%= yield %>
  </main>
</div>
</body>
</html>
